.form {
    &-label {
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
    }

    &-field {
        margin-bottom: 12px;
    }

    input {
        padding: 5px;
        font-size: 14px;
        border: none;
    }
}

.error {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    color: #f00;
}
