#root {
    font-family: helvetica;
    font-size: 20px;
    font-weight: bold;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: #f0ffff;
}

button,
input {
    &:focus {
        outline: none;
    }
}

button {
    font-size: 14px;
}
