.exhibition-list-item {
    position: relative;
    padding: 20px;
    background-color: #fff;

    &-title,
    &-year {
        margin-bottom: 2px;
        font-size: 14px;
        line-height: 16px;
    }

    &-year {
        font-weight: normal;
    }

    &-image {
        width: 100%;
        height: 300px;
        object-fit: none;
        margin-bottom: 24px;
    }
}
