.exhibition-list {
    &-title {
        font-size: 26px;
    }

    &-items {
        display: grid;
        grid-gap: 72px 24px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        width: 100%;
    }

    &-load-more {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 60px 0;

        &-button {
            display: block;
            width: 150px;
            height: 35px;
            padding: 10px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            background-color: #fff;
            border: none;
        }

        .spinner {
            position: absolute;

            & > div {
                width: 10px;
                height: 10px;
            }
        }
    }
}
