.exhibition-name {
    width: 400px;
    margin-bottom: 20px;
    transition: color .5s;

    &:hover {
        color: #f00;
        transition: color .5s;
    }
}

.exhibition-image {
    height: 300px;
    width: 200px;
    object-fit: cover;
}
