.exhibition-detail {
    &-title {
        margin-bottom: 20px;
        font-size: 30px;
    }

    &-text {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.3;
    }

    &-image {
        max-width: 300px;
        margin-bottom: 20px;
    }

    &-back {
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: normal;
    }
}
