.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 25px;

    &-title {
        font-size: 26px;
    }

    &-link {
        font-size: 14px;
    }
}
