.content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    button {
        width: 100%;
        padding: 7px;
        color: #fff;
        cursor: pointer;
        background-color: #000;
        border: none;

        &:disabled {
            background-color: #6f00ff
        }
    }
}

.fields {
    margin-bottom: 24px;
}
